:root {
  --grayLine: #d3d3d3;
  --searchHeight: 40px;
}

.searchbar {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}
.logo {
  height: 100%;
  padding: 13px 14px;
}
.search {
  display: flex;
  align-items: center;
  border: 1px solid var(--grayLine);
  height: 42px;
}
.input {
  width: 30rem;
  height: var(--searchHeight);
  border: none;
  padding-left: 1rem;
  outline: 0;
}
.button {
  width: 64px;
  height: var(--searchHeight);
  background-color: #f8f8f8;
  cursor: pointer;
}
.icon {
  font-size: 1.2rem;
}
