.container {
  padding: 0.6rem;
  cursor: pointer;
}
.list {
  width: 100%;
  padding: 0;
}
.grid {
  width: 25%;
}
.video {
  width: 100%;
  transition: transform 250ms ease-in;
}
.video:hover {
  transform: scale(1.02);
}
.thumbnail {
  width: 100%;
  height: 70%;
}

.title,
.channel {
  font-size: 1rem;
  margin: 0;
}
.title {
  font-weight: 500;
  margin-top: 0.8rem;
}
.channel {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}
